* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(229, 233, 227);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}
section {
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 30px;
}
.row-one p {
  max-width: 300px;
  margin-top: 15px;
}
.first-row {
  display: flex;
  gap: 10px;
}
.second-row {
  display: flex;
  gap: 10px;
}
select {
  padding: 10px 5px;
  font-weight: bold;
  outline: none;
}
button {
  padding: 10px 30px;
  background-color: green;
  border: none;
  color: white;
  border-radius: 3px;
}
i {
  color: green;
}
.second-data {
  margin-top: 20px;
  padding: 30px;
  display: flex;
  background-color: rgb(229, 233, 227);
  border-radius: 5px;
}
.data-para {
  max-width: 300px;
}
.data-one {
  display: flex;
  gap: 10px;
  justify-content: center;
}
h3 {
  margin-bottom: 10px;
}

@media (max-width: 833px) {
  .first-row {
    flex-direction: column;
  }
  body {
    padding: 5px;
    height: auto;
  }
}

@media (max-width: 677px) {
  .second-data {
    flex-direction: column;
  }
  .data-one {
    margin: 20px 0;
  }
  .second-row {
    flex-direction: column;
  }
  select {
    width: 100%;
  }
  button {
    width: 100%;
  }
}
